$header-size: 28px;
$header-height: 150px;

$color-orange: orange;
$color-red: red;
$color-white: white;
$color-gray: gray;

$header-color: $color-orange;
$link-color: $color-orange;



/* Navigation */
$nav-link-color-hover: $color-white;
$link-nav-bg-color-defaulut: $color-gray;

